
<div class="row">
<div class="col-xs-12 centeredDiv" *ngIf="allRecipes">
    <div  class="rgba-white-slight" *ngFor="let recipe of allRecipes">
        <a class="card card-cascade narrower " routerLink="recipe/details/{{recipe.id}}">
            <div class="view view-cascade overlay">
                <img class="card-img-top" src={{recipe.imgUrlRecipe}} alt="Card image">      
            </div>
            <div class="card-body card-body-cascade">
                <h5 class="pink-text pb-2 pt-1"><i class="fas fa-utensils"></i> {{recipe.category}}</h5>
                <h4 class="font-weight-bold card-title">{{recipe.title}}</h4>
                <p class="card-text">{{recipe.summary}}</p>
            </div>
        </a>
    </div>
</div>
</div>
