
    <div *ngIf="selectedRecipe">
        <div class="row centeredDiv">
          <div class="card card-cascade narrower">
            <div class="view view-cascade overlay">
                <img class="card-img-top" src={{selectedRecipe.imgUrlRecipe}} alt="Card image">      
            </div>
            <div class="card-body card-body-cascade">
                <h5 class="pink-text pb-2 pt-1"><i class="fas fa-utensils"></i> {{selectedRecipe.category}}</h5>
                <h4 class="font-weight-bold card-title">{{selectedRecipe.title}}</h4>
                <p class="card-text">{{selectedRecipe.summary}}</p>
            </div>
          </div>
        </div>
    </div>
