<footer class="page-footer font-small unique-color-dark pt-4">
  <div class="container">
      <ul class="list-unstyled list-inline text-center py-2" *ngIf="!isLogged">
        <li class="list-inline-item">
          <h5 class="mb-1">Don't have an account? </h5>
        </li>
        <li class="list-inline-item">
          <a href="/register" class="btn btn-outline-white btn-rounded">Sign up now for free!</a>
        </li>
      </ul>
      <ul class="list-unstyled list-inline text-center py-2" *ngIf="isLogged">
        <li class="list-inline-item">
          <h5 class="mb-1">Browse great free recipes or share your own amazing art!!</h5>
        </li>
        <li class="list-inline-item">
          <a href="/recipe/create" class="btn btn-outline-white btn-rounded"><h5>Share your recipes</h5></a>
        </li>
      </ul>  
    </div>
  </footer>
